# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.LabradogApp.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Acer\source\repos\LabradogApp\.idea\.idea.LabradogApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
