@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container my-5">
    <h4 class="RP text-center">Registr</h4>
    <form method="post" action="@Url.Action("register","auth")">
        <div class="row justify-content-center px-3">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <input class="rounded-pill form-control form-control-sm form-control-has-validation form-control-last-child my-2 py-2" type="text" name="FullName" placeholder="FullName" required>
            </div >
             <div class="col-lg-2 col-md-2 col-sm-12">
                <input class="rounded-pill form-control form-control-sm form-control-has-validation form-control-last-child my-2 py-2" type="text" name="UserName" placeholder="Username" required>
            </div>
        </div>

        <div class="row justify-content-center px-3">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <input class="rounded-pill form-control form-control-sm form-control-has-validation form-control-last-child my-2 py-2" type="email" name="Email" placeholder=" E-mail" required>
            </div>

        </div>
        <div class="row justify-content-center px-3">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <input class="rounded-pill form-control form-control-sm form-control-has-validation form-control-last-child my-2 py-2" type="password" name="Password" placeholder="Password" required>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <input class="rounded-pill form-control form-control-sm form-control-has-validation form-control-last-child my-2 py-2" type="password" name="ConfirmedPassword" placeholder="Confirmed Password" required>
            </div>

        </div>


        <div class="row justify-content-center my-2">
            <div class="col-lg-4 col-md-4 col-sm-8  d-flex justify-content-center">
                <button type="submit" class="badge rounded-pill  text-light  py-3 BT w-75 " style="border-width:0px">Sign up</button>
            </div>
        </div>
    </form>
</div>