@model LabradogApp.Models.Service
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<form class="container" enctype="multipart/form-data" method="post" action="@Url.Action("edit","service",new {id=Model.Id })">
    <div class="form-group">
        <p>Service Title</p>
        <input type="text" class="form-control form-control-user"
               id="Title" name="Title" aria-describedby="emailHelp"
               placeholder="Enter Title..." required value="@Model.Title">
    </div>
    <div class="form-group">
        <p>Service Main Content</p>
        <input type="text" class="form-control form-control-user"
               id="Main" name="Main" aria-describedby="emailHelp"
               placeholder="Enter Content..." required value="@Model.Main">
    </div>
    <div class="form-group">
        <p>Image</p>
        <input type="file" class="form-control form-control-user"
               id="Image" name="Image" placeholder="Enter Image">
        <img src="~/uploads/@Model.Image" style="height:70px;margin-top:10px" />
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Add This Service
    </button>
    <hr>
</form>

