
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<form class="container" enctype="multipart/form-data" method="post" action="@Url.Action("create","gallery")">
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="DogName" name="DogName" aria-describedby="emailHelp"
               placeholder="Enter Dog Name..." required>
    </div>
    <div class="form-group">
        <input type="number" class="form-control form-control-user"
               id="Old" name="Old" placeholder="Enter Old">
    </div>
    <div class="form-group">
        <input type="file" class="form-control form-control-user"
               id="DogImage" name="DogImage" placeholder="Dog Image" required>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Add This Image to Gallery
    </button>
    <hr>
</form>
